body{
	font-family: Tahoma, Sans-serif;
  font-size: 13px;
}

header{
  border-bottom: 2px solid #db2927;	
  position: relative;
}

header .contact{
  position: absolute;
  right: 0px;
  bottom: 8px;
  display: inline;
} 

header .skype{
  padding-left: 16px;
}
header a{
  text-decoration: none;
  color: #045198;
}

form{
  width: 560px;
  margin: auto;
  margin-top: 24px;
}

.form_table{
  margin: auto;
}

.form_table tbody{
  padding: 20px 30px;
  border: 1px solid #bcbcbc;
  background-color: #ececec;
  display: block;
}

.form_table th{
  font-size: 18px;
  color: #2c286d;
  text-align: left;
}

.form_table .label{
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
}

.text_fields, textarea{
  border: 1px solid #b9b9b9;
}

.text_field_dimension{
  width: 360px;
  height: 25px;
}

.form_table select{
  width: 110px;
  color: #6f6f6f;
}

.form_table textarea{
  width: 360px;
  height: 135px;
}

.form_table input[type="submit"]{
  background-color: #dc2927;
  border: 1px solid #a10200;
  width: 130px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  color: white;
}

